In [1]:
import pandas as pd
import numpy as np

# https://www.kaggle.com/gregorut/videogamesales

# pd.read_excel(data.xsl)
# pd.read_csv(data.txt, header = None)

games = pd.read_csv('vgsales.csv', usecols = lambda column: column not in ['Rank'])

In [13]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [2]:
type(games)

pandas.core.frame.DataFrame

In [4]:
games[['Name', 'Year', 'Global_Sales']]

                                                   Name    Year  Global_Sales
0                                            Wii Sports  2006.0         82.74
1                                     Super Mario Bros.  1985.0         40.24
2                                        Mario Kart Wii  2008.0         35.82
3                                     Wii Sports Resort  2009.0         33.00
4                              Pokemon Red/Pokemon Blue  1996.0         31.37
...                                                 ...     ...           ...
16593                Woody Woodpecker in Crazy Castle 5  2002.0          0.01
16594                     Men in Black II: Alien Escape  2003.0          0.01
16595  SCORE International Baja 1000: The Official Game  2008.0          0.01
16596                                        Know How 2  2010.0          0.01
16597                                  Spirits & Spells  2003.0          0.01

[16598 rows x 3 columns]

In [6]:
games[['Name']][:10]

                        Name
0                 Wii Sports
1          Super Mario Bros.
2             Mario Kart Wii
3          Wii Sports Resort
4   Pokemon Red/Pokemon Blue
5                     Tetris
6      New Super Mario Bros.
7                   Wii Play
8  New Super Mario Bros. Wii
9                  Duck Hunt